<ul class="actions">
  <li><a class="focus-reply btn">Reply</a></li>
  <li><a class="unsubscribe btn">Unsubscribe</a></li>
</ul>
<h2><%= subject %></h2>
<label><%= subscribers.length %> Participants</label>
<ul id="participants">
<% _.each(subscribers, function(subscriber) { %>
  <%= JST['templates/users/item'](subscriber) %>
<% }) %>
</ul>
<ul id="messages"></ul>
<div id="reply">
  <img src="<%= CurrentUser.avatar %>">
  <textarea id="message_body" placeholder="Reply to this discussion"></textarea>
  <a class="reply btn">Reply</a>
</div>