/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  font: 13px/1.2 Helvetica;
  background: #ECEDED;
}
h1 {
  color: rgba(black, .8);
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
  text-shadow: 0 1px white;
}
#header {
  padding: 9px 15px;
  overflow: hidden;
  background: #212B34;
  text-align: right;
  line-height: 27px;
  font-weight: bold;
  color: #fff;
  img {
    float: right;
    height: 27px;
    width: auto;
    margin-left: 10px;
  }
}
.inner {
  width: 960px;
  margin: 0 auto;
}